@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --main-font: "Poppins", sans-serif;

    --color1: #7185a8 ;
    --color2: #5d7294 ;
    --color3: #4a5f80 ;
    --color4: #364d6c ;
    --color5: #233a58 ;
    --color6: #fff;
    --color7: #dbdbdb;
    --color8: #8e8e8e;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(img/background.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.title {
    font-size: 2.5em;
    font-family: var(--main-font);
    font-weight: 400;
    text-align: center;
    transform: translateY(-100px);
}

.bold-text {
    font-weight: bold;
}

#container {
    background-color: var(--color6);
    min-height: 100vh;
    max-width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
}

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 750px;
    border: 1px solid var(--color1);
    border-radius: 10px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

label {
    font-family: var(--main-font);
    font-size: 1.2em;
    opacity: 50%;
    margin-top: 25px;
}

input {
    width: 450px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid var(--color1);
    opacity: 80%;
    font-size: 1.1em;
    padding: 10px;
}

input:not(:placeholder-shown):valid {
    border-color: green;
}

input:not(:placeholder-shown):invalid {
    border-color: red;
}

.labels {
    display: flex;
    flex-direction: column;
}

.signup-btn {
    width: 450px;
    height: 55px;
    background-color: var(--color3);
    color: var(--color6);
    font-weight: bold;
    font-family: var(--main-font);
    font-size: 1.1em;
    border-style: none;
    border-radius: 7px;
    margin-top: 40px;
}

.signup-btn:hover {
    background-color: var(--color4);
}

.error-message {
    color: red;
}

.remember-me {
    display: flex;
    align-items: center;
    margin-right: auto;
    margin-top: 5px;
    gap: 6px;
}

.remember-me-text {
    font-family: var(--main-font);
    font-size: 0.9em;
}

.remember-me-chbx {
    width: 20px;
}

.lign-or {
  display: flex;
  align-items: center;
  width: 100%;         
  margin: 25px 0;      
}

.lign {
  flex: 1;             
  height: 1px;         
  background-color: var(--color7); 
}

.or-text {
  padding: 0 15px;     
  color: var(--color8);
  font-size: 1em;
  font-weight: 500;
  text-transform: lowercase;
}

.social-medias {
    display: flex;
    gap: 80px;
}

.social-media {
    width: 70px;
    height: 70px;
    border-style: none;
    border-radius: 5px;
    background-color: var(--color6);
}

.icon-login {
    width: 50px;
}

.have-an-account {
    transform: translateY(15px);
    font-family: var(--main-font);
    font-weight: 400;
}

.sign-in {
    color: blue;
    text-decoration: underline;
}

.p-footer {
    font-family: var(--main-font);
    margin-bottom: 20px;
    text-align: center;
    color: var(--color8);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.githubIcon-footer {
    width: 30px;
}

@media (max-width: 1600px){
    .title {
        display: flex;
        flex-wrap: wrap;
        column-gap: 8px;
        row-gap: 5px;
        transform: translateY(-20px);
        font-size: 1.8em;
        margin-top: 20px;
    }

    .form-container {
        height: 550px;
        width: 500px;
    }

    input {
        width: 400px;
        height: 30px;
    }

    .signup-btn {
        width: 400px;
        height: 40px;
        transform: translateY(-15px);
    }

    label {
        margin-top: 10px;
    }

    .labels {
        margin-top: 20px;
    }

    .remember-me {
        transform: translateY(-15px);
    }

    .lign-or {
        transform: translateY(-20px);
    }

    .social-medias {
        margin-bottom: 20px;
        transform: translateY(-20px);
        gap: 100px;
    }

    .icon-login {
        width: 40px;
    }
    
    .social-media {
        width: 30px;
        height: 30px;
    }

    .have-an-account {
        transform: translateY(-5px);
    }

    .p-footer {
        margin-bottom: 0;
    }
}